<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Catalog::general" title="ImageOptimization" translate="title" module="Magento_Catalog" sortOrder="50" parent="Magento_Catalog::catalog" dependsOnModule="Magento_Catalog" resource="Custom_ImageOptimization::general"/>
        <add id="Magento_Catalog::unlink_image" title="Unlink" translate="title" module="Magento_Catalog" sortOrder="70" parent="Magento_Catalog::general" action="customoptimization/unlink/" resource="Custom_ImageOptimization::unlink"/>
        <add id="Magento_Catalog::optimization_image" title="Optimization" translate="title" module="Magento_Catalog" sortOrder="60" parent="Magento_Catalog::general" action="customoptimization/optimization/" resource="Custom_ImageOptimization::optimization"/>
        <!--https://devdocs.magento.com/guides/v2.2/ext-best-practices/extension-coding/example-module-adminpage.html-->
    </menu>
</config> 